<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>About Nesting Doll</title>
</head>

<body>
<nav th:replace="~{/navbar :: nav}"></nav>

<div class="about"> Hej hej här är sidan om vår utmärkta faktasida</div>

</body>

</html>