<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>About Nesting Doll</title>
</head>

<body>
<nav th:replace="~{/navbar :: nav}"></nav>
<div class="about"> <h2><br>Välkommen hit!</h2>
    På den här sidan får du random facts allt eftersom du klickar på vår babushka.
    <br>Vill du vara mer intressant på festen? Klicka på dockan och få ett fakta att prata om.
    <br>Är dina kolleger tråkiga på kafferasten? Klicka på dockan och få ett nytt samtalsämne för dagen
    <br><br>
    Vi har samlat en mängd olika fakta för att underlätta din vardag, göra dig och dina kompisar roligare att ungås med.
    <br> <h3>Varsågod och lycka till</h3></div>
</body>

</html>