<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
   
    <title>Nesting Doll</title>
</head>
<body>
    
        <p>Nesting Doll Facts</p> 
        <div class="container2">
        <div id="contentLeft">
        <a href="default.asp">
                <img class="nestingdoll" src="http://pngimg.com/uploads/matryoshka_doll/matryoshka_doll_PNG31.png" alt="Nesting Doll" class="center resize">
               </a>
    </div>
<div id="contentRight">
    <div class="prof-box">
     test
    </div>
</div>
</div>
</body>
</html>